.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 10px;
}

.title {
  font-size: 3rem;
  margin: 20px auto;
}

.subtitle {
  margin: 20px auto;
  font-size: 2rem;
  font-weight: normal;
  color: #666666
}

.App-link {
  color: #61dafb;
}
